.main-container {
  height: 100%; // take the full height of the page
}

.menu-items-container {
  display: flex;
  flex-direction: column;
  //align-items: center;
  //height: 100%;
  padding: 10px;
}

button {
  width: 100%;
  &:hover {
    background-color: whitesmoke;
  }

  &.active {
    color: white;
    background-color: dodgerblue;
    //  background-color: rgb(38, 198, 218);
  }
}

mat-panel-title {
  font-weight: bold;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
