<app-add-edit-section>
  <router-outlet />
</app-add-edit-section>

<div class="table-container">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="sortData($event)"
    class="full-width-table"
  >
    <ng-container matColumnDef="labelTypeMembrane">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type Membrane</th>
      <td mat-cell *matCellDef="let typeMembrane">
        {{ typeMembrane.labelTypeMembrane }}
      </td>
    </ng-container>
    <ng-container matColumnDef="tailleTypeMembrane">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Taille</th>
      <td mat-cell *matCellDef="let typeMembrane">
        {{ typeMembrane.tailleTypeMembrane }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let typeMembrane">
        <div class="actions-btns-container">
          <button
            mat-fab
            class="action-btn edit"
            routerLink="edit/{{ typeMembrane.idTypeMembrane }}"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-fab
            class="action-btn delete"
            (click)="openDialog(typeMembrane)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
