<app-add-edit-section>
  <router-outlet />
</app-add-edit-section>

<div class="table-container">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="sortData($event)"
    class="full-width-table"
  >
    <ng-container matColumnDef="labelObjectif">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Objectif</th>
      <td mat-cell *matCellDef="let objectif">
        {{ objectif.labelObjectif }}
      </td>
    </ng-container>

    <ng-container matColumnDef="annee">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Année</th>
      <td mat-cell *matCellDef="let objectif">
        {{ objectif.annee | date : "MM/dd/yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="tdSeauBrute">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>TDS Eau Brute</th>
      <td mat-cell *matCellDef="let objectif">
        {{ objectif.tdSeauBrute }}
      </td>
    </ng-container>

    <ng-container matColumnDef="tdSeauOsmosee">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>TDS Eau Osmosée</th>
      <td mat-cell *matCellDef="let objectif">
        {{ objectif.tdSeauOsmosee }}
      </td>
    </ng-container>

    <ng-container matColumnDef="rendementMembranes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Rendement Membranes
      </th>
      <td mat-cell *matCellDef="let objectif">
        {{ objectif.rendementMembranes }}
      </td>
    </ng-container>

    <ng-container matColumnDef="rendement">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rendement</th>
      <td mat-cell *matCellDef="let objectif">
        {{ objectif.rendement }}
      </td>
    </ng-container>

    <ng-container matColumnDef="permanentFlow">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Permanent Flow</th>
      <td mat-cell *matCellDef="let objectif">
        {{ objectif.permanentFlow }}
      </td>
    </ng-container>

    <ng-container matColumnDef="tauxExploitation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Taux Exploitation
      </th>
      <td mat-cell *matCellDef="let objectif">
        {{ objectif.tauxExploitation }}
      </td>
    </ng-container>

    <ng-container matColumnDef="deltaPMicrofiltre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Delta P Microfiltre
      </th>
      <td mat-cell *matCellDef="let objectif">
        {{ objectif.deltaPMicrofiltre }}
      </td>
    </ng-container>

    <ng-container matColumnDef="deltaPMembrane">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Delta P Membrane
      </th>
      <td mat-cell *matCellDef="let objectif">
        {{ objectif.deltaPMembrane }}
      </td>
    </ng-container>

    <ng-container matColumnDef="deltaPSable">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Delta P Sable</th>
      <td mat-cell *matCellDef="let objectif">
        {{ objectif.deltaPSable }}
      </td>
    </ng-container>

    <ng-container matColumnDef="cout">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cout</th>
      <td mat-cell *matCellDef="let objectif">
        {{ objectif.cout }}
      </td>
    </ng-container>

    <ng-container matColumnDef="th">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>TH</th>
      <td mat-cell *matCellDef="let objectif">
        {{ objectif.th }}
      </td>
    </ng-container>

    <ng-container matColumnDef="ph">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>PH</th>
      <td mat-cell *matCellDef="let objectif">
        {{ objectif.ph }}
      </td>
    </ng-container>

    <ng-container matColumnDef="tauxChlorure">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Taux Chlorure</th>
      <td mat-cell *matCellDef="let objectif">
        {{ objectif.tauxChlorure }}
      </td>
    </ng-container>

    <ng-container matColumnDef="nomStation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Station</th>
      <td mat-cell *matCellDef="let objectif">
        {{ objectif.nomStation }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let objectif">
        <div class="actions-btns-container">
          <button
            mat-fab
            class="action-btn edit"
            routerLink="edit/{{ objectif.idObjectif }}"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-fab
            class="action-btn delete"
            (click)="openDialog(objectif)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <p class="endnote">
    <b>TDS</b>: Total Dissolved Solids, <b>PH</b>: Potentiel Hydrogène,
    <b>TH</b>: Titre Hydrotimétrique
  </p>
</div>
