<mat-card>
  <mat-card-header class="card-header-with-close-btn">
    <div mat-card-avatar></div>
    <mat-card-title>
      {{ isEditMode ? "Modifier" : "Ajouter" }} Type Equipement
    </mat-card-title>
    <button
      mat-mini-fab
      class="action-btn close"
      routerLink="/types-typesEquipements"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="typeEquipementForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label> Label Type Equipement</mat-label>
        <input
          matInput
          type="text"
          formControlName="labelTypeEquipement"
          required
        />
        <mat-error
          *ngIf="
                            typeEquipementForm.get('labelTypeEquipement')?.errors?.['required'] &&
                            typeEquipementForm.get('labelTypeEquipement')?.touched
                          "
        >
          Ce champ est obligatoire
        </mat-error>
        <mat-error
          *ngIf="
                            typeEquipementForm.get('labelTypeEquipement')?.errors?.['minlength'] &&
                            typeEquipementForm.get('labelTypeEquipement')?.dirty
                          "
        >
          Ce champ doit contenir au minimum
          {{
                            typeEquipementForm.get("labelTypeEquipement")?.errors?.['minlength']
                              ?.requiredLength
          }}
          caractères
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        type="submit"
        color="primary"
        class="form-submit-btn"
        [disabled]="typeEquipementForm.invalid || isLoading"
      >
        {{ isEditMode ? "Modifier" : "Ajouter" }}
      </button>
      <mat-progress-bar mode="determinate" *ngIf="isLoading" />
    </form>
  </mat-card-content>
</mat-card>
