// .title {
//   text-align: center;
//   margin-top: 20px;
//   margin-bottom: 20px;
// }

.container {
  display: flex;
  flex-direction: row;
  // justify-content: flex-end;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

mat-header-row,
mat-row {
  display: flex;
  width: 100%;
}

th {
  border-right: 1px solid #e0e0e0;
  text-align: center;
}

td {
  text-align: center;
}

//ACTIONS BTNS
.btns-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 10px; // adds space between the buttons
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {

  // width: 50px; /* Set the width to a fixed value */
  // height: 50px; /* Set the height to the same fixed value */
  // min-width: 48px; /* Ensure the button does not shrink */
  // min-height: 48px; /* Ensure the button does not shrink */
  cursor: pointer;

  transition: background-color 0.3s;

  &.add {
    background-color: #2196f3;
  }

  &.edit {
    // background-color: #ff9800; // Orange
    background-color: #4caf50;
  }

  &.delete {
    background-color: #f44336;
  }

  &:hover {
    filter: brightness(0.9); // Darken the button on hover
  }

  mat-icon {
    font-size: 20px;
    color: white;
  }
}
