<h1 class="title">Gestion des Filiales</h1>
<table
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z3 custom-table"
  matSort
>
  <!-- filialeLabel Column -->
  <ng-container matColumnDef="filialeLabel">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell">Filiale Label</th>
    <td mat-cell *matCellDef="let filiale" (click)="toggleSelection(filiale)">
      {{ filiale.filialeLabel }}
    </td>
  </ng-container>

  <!-- buttons -->
  <ng-container matColumnDef="actions">
    <!-- <th mat-header-cell *matHeaderCellDef class="header-cell">Actions</th> -->
    <th mat-header-cell *matHeaderCellDef class="header-cell"></th>
    <td mat-cell *matCellDef="let filiale">
      <div class="btns-container">
        <button
          mat-raised-button
          class="btn info"
          (click)="infoAction(filiale)"
        >
          <mat-icon>info</mat-icon>
        </button>
        <button
          mat-raised-button
          class="btn create"
          (click)="createAction(filiale)"
        >
          <mat-icon>add</mat-icon>
        </button>
        <button
          mat-raised-button
          class="btn update"
          (click)="updateAction(filiale)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-raised-button
          class="btn delete"
          (click)="deleteAction(filiale)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<!-- </div> -->
