<app-add-edit-section>
  <router-outlet />
</app-add-edit-section>

<div class="table-container">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="sortData($event)"
  >
    <ng-container matColumnDef="nomStation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom Station</th>
      <td mat-cell *matCellDef="let station">
        {{ station.nomStation }}
      </td>
    </ng-container>
    <ng-container matColumnDef="capaciteStation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Capacité</th>
      <td mat-cell *matCellDef="let station">
        {{ station.capaciteStation }}
      </td>
    </ng-container>
    <ng-container matColumnDef="typeAmmortissement">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Type Ammortissement
      </th>
      <td mat-cell *matCellDef="let station">
        {{ station.typeAmmortissement }}
      </td>
    </ng-container>

    <ng-container matColumnDef="isActif">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Est Active</th>
      <td mat-cell *matCellDef="let station">
        <!-- {{ station.isActif }} -->
        <mat-slide-toggle
          [checked]="station.isActif"
          (change)="toggleIsActive(station.idStation)"
        />
      </td>
    </ng-container>

    <ng-container matColumnDef="nomAtelier">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Atelier</th>
      <td mat-cell *matCellDef="let station">
        {{ station.nomAtelier }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let station">
        <div class="actions-btns-container">
          <button
            mat-fab
            class="action-btn edit"
            routerLink="edit/{{ station.idStation }}"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-fab
            class="action-btn delete"
            (click)="openDialog(station)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
