<mat-card>
  <mat-card-header class="card-header-with-close-btn">
    <div mat-card-avatar></div>
    <mat-card-title>
      {{ isEditMode ? "Modifier" : "Ajouter" }} Paramètre Station
    </mat-card-title>
    <button
      mat-mini-fab
      class="action-btn close"
      routerLink="/parametres-stations"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="parametreStationForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Nom Parametre Station</mat-label>
        <input
          matInput
          type="text"
          formControlName="labelParametreStation"
          required
        />
        <mat-error
          *ngIf="
                                  parametreStationForm.get('labelParametreStation')?.errors?.['required'] &&
                                  parametreStationForm.get('labelParametreStation')?.touched
                                "
        >
          Ce champ est obligatoire
        </mat-error>
        <mat-error
          *ngIf="
                                  parametreStationForm.get('labelParametreStation')?.errors?.['minlength'] &&
                                  parametreStationForm.get('labelParametreStation')?.dirty
                                "
        >
          Ce champ doit contenir au minimum
          {{
                                  parametreStationForm.get("labelParametreStation")?.errors?.['minlength']
                                    ?.requiredLength
          }}
          caractères
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Station</mat-label>
        <mat-select formControlName="nomStation" required>
          <mat-option
            *ngFor="let station of stations$ | async"
            [value]="station.nomStation"
          >
            {{ station.nomStation }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
                              parametreStationForm.get('nomStation')?.errors?.['required'] &&
                              parametreStationForm.get('nomStation')?.touched
                            "
        >
          Ce champ est obligatoire
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Paramètre Suivi</mat-label>
        <mat-select formControlName="labelParametreSuivi" required>
          <mat-option
            *ngFor="let parametreSuivi of parametresSuivis$ | async"
            [value]="parametreSuivi.labelParametreSuivi"
          >
            {{ parametreSuivi.labelParametreSuivi }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
                              parametreStationForm.get('labelParametreSuivi')?.errors?.['required'] &&
                              parametreStationForm.get('labelParametreSuivi')?.touched
                            "
        >
          Ce champ est obligatoire
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        type="submit"
        color="primary"
        class="form-submit-btn"
        [disabled]="parametreStationForm.invalid || isLoading"
      >
        {{ isEditMode ? "Modifier" : "Ajouter" }}
      </button>
      <mat-progress-bar mode="determinate" *ngIf="isLoading" />
    </form>
  </mat-card-content>
</mat-card>
