mat-toolbar {
  background-color: var(--primary-color); //cornflowerblue: blue 500
}

.spacer {
  flex: 1 1 auto;
}

.menu-btn {
  color: var(--white-color);
}

//for the compte name menu btn
.profile-menu-btn {
  margin-left: 20px;
  color: var(--primary-color);

  //text & profile icon
  span,
  mat-icon {
    color: var(--white-color);
  }

  &:hover {
    background-color: var(--white-color);

    span,
    mat-icon {
      color: var(--primary-color);
    }
  }
}

//for the rounded profile picture menu btn
// .profile-menu-btn {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 50px;
//   height: 50px;
//   overflow: hidden; // Ensure the profile-pic does not overflow over the button limits
// }

// .profile-pic {
//   width: 50px;
//   height: 50px;
//   border-radius: 50%; // ensure the image is round
// }
