<div class="form-container">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <mat-card>
      <mat-card-content>
        <div class="login-icon-container">
          <div>
            <!-- <span class="login-text">Login</span> -->
            <mat-icon
              class="login-icon"
              [class.login-icon-valid]="loginForm.valid"
              >login</mat-icon
            >
          </div>
        </div>

        <mat-form-field appearance="fill">
          <mat-label for="cin">Cin</mat-label>
          <!-- <mat-icon matPrefix>badge</mat-icon> -->
          <mat-icon matPrefix>pin</mat-icon>
          <input
            matInput
            type="text"
            id="cin"
            name="cin"
            #cin="ngModel"
            [(ngModel)]="login.cin"
            required
            minlength="3"
          />

          <!-- alert msgs -->
          <mat-error *ngIf="cin.touched && cin.pristine">
            <!-- <mat-error *ngIf="cin.invalid && cin.touched"> -->
            Cin is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label for="password">Password</mat-label>
          <mat-icon matPrefix>password</mat-icon>
          <input
            matInput
            type="{{ hidePwd ? 'password' : 'text' }}"
            id="password"
            name="password"
            #password="ngModel"
            [(ngModel)]="login.password"
            required
            minlength="3"
          />
          <mat-icon
            matSuffix
            (click)="hidePwd = !hidePwd"
            aria-label="Toggle password visibility"
            [attr.aria-pressed]="!hidePwd"
          >
            {{ hidePwd ? "visibility_off" : "visibility" }}
          </mat-icon>
          <!-- alert msgs -->
          <mat-error *ngIf="password.touched && password.pristine">
            <!-- <mat-error *ngIf="password.invalid && password.touched"> -->
            Password is required
          </mat-error>
        </mat-form-field>

        <button
          mat-raised-button
          type="submit"
          class="fullwidth-btn"
          color="primary"
          [disabled]="loginForm.invalid || loading"
        >
          <!-- || loading: disable btn while loading -->
          Login
        </button>
      </mat-card-content>
    </mat-card>
  </form>

  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

  <!-- {{ loginForm.value | json }} -->

  <!-- login: var declared in .ts file -->
  <!-- {{ login | json }} -->

  <!-- Form Controls -->
  <!-- {{ password.valid | json }}
  {{ password.status | json }}
  {{ password.touched | json }}
  {{ password.errors | json }} -->
</div>
