<div class="form-container">
  <form #registerForm="ngForm" (ngSubmit)="submit(registerForm)">
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <mat-label>First name</mat-label>
          <input
            matInput
            type="text"
            name="firstName"
            #firstName="ngModel"
            [(ngModel)]="register.firstName"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last name</mat-label>
          <input
            matInput
            type="text"
            name="lastName"
            #lastName="ngModel"
            [(ngModel)]="register.lastName"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            matInput
            type="text"
            name="email"
            #email="ngModel"
            [(ngModel)]="register.email"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Cin</mat-label>
          <input
            matInput
            type="text"
            name="cin"
            #cin="ngModel"
            [(ngModel)]="register.cin"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            type="text"
            name="password"
            #password="ngModel"
            [(ngModel)]="register.password"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            type="text"
            name="confirmPassword"
            #confirmPassword="ngModel"
            [(ngModel)]="register.confirmPassword"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Role</mat-label>
          <input
            matInput
            type="text"
            name="role"
            #role="ngModel"
            [(ngModel)]="register.role"
          />
        </mat-form-field>

        <button
          mat-raised-button
          type="submit"
          color="primary"
          class="fullwidth-btn"
          [disabled]="registerForm.invalid"
        >
          Register
        </button>
      </mat-card-content>
    </mat-card>
  </form>
  <!-- {{ registerForm.value | json }} -->
  <!-- {{ register | json }} -->
</div>
