
<div class="auth-form">
    <form #form="ngForm" (ngSubmit)="submit(form)">
      <mat-form-field>
        <mat-label>Cin</mat-label>
        <input
          matInput
          type="text"
          name="cin"
          [(ngModel)]="login.cin"
          #cin="ngModel"
        />
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          name="password"
          [(ngModel)]="login.password"
          #password="ngModel"
        />
      </mat-form-field>
      <!-- {{ form.value | json }}
      {{ login | json }} -->
  
      <button mat-flat-button type="submit" class="fullwidth-btn" color="primary" [disabled]="">
        Login
      </button>
    </form>
  </div>