<mat-card>
  <mat-card-header class="card-header-with-close-btn">
    <div mat-card-avatar></div>
    <mat-card-title>Changer Password</mat-card-title>
    <button mat-mini-fab class="action-btn close" (click)="handleCloseForm()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <mat-form-field appearance="fill">
        <mat-label for="currentPassword">Password Actuel</mat-label>
        <mat-icon matPrefix>password</mat-icon>
        <input
          matInput
          type="{{ hideCurrentPwd ? 'password' : 'text' }}"
          id="currentPassword"
          name="currentPassword"
          #currentPassword="ngModel"
          [(ngModel)]="changePasswordForm.currentPassword"
          required
        />
        <mat-icon
          matSuffix
          (click)="hideCurrentPwd = !hideCurrentPwd"
          [attr.aria-pressed]="!hideCurrentPwd"
        >
          {{ hideCurrentPwd ? "visibility_off" : "visibility" }}
        </mat-icon>
        <!-- alert msgs -->
        <mat-error *ngIf="currentPassword.touched && currentPassword.pristine">
          Ce champ est obligatoire
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label for="newPassword">Nouveau Password</mat-label>
        <mat-icon matPrefix>password</mat-icon>
        <input
          matInput
          type="{{ hideNewPwd ? 'password' : 'text' }}"
          id="newPassword"
          name="newPassword"
          #newPassword="ngModel"
          [(ngModel)]="changePasswordForm.newPassword"
          required
          minlength="3"
        />
        <mat-icon
          matSuffix
          (click)="hideNewPwd = !hideNewPwd"
          [attr.aria-pressed]="!hideNewPwd"
        >
          {{ hideNewPwd ? "visibility_off" : "visibility" }}
        </mat-icon>
        <!-- alert msgs -->
        <mat-error *ngIf="newPassword.touched && newPassword.pristine">
          Ce champ est obligatoire
        </mat-error>
        <mat-error *ngIf="newPassword.invalid && newPassword.dirty">
          <!-- <mat-error *ngIf="newPassword.errors?.['minlength'] && newPassword.touched"> -->
          Le nouveau password doit contenir au minimum
          {{ newPassword.errors?.['minlength']?.requiredLength }}
          caractères
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label for="confirmNewPassword"
          >Confirmer Nouveau Password</mat-label
        >
        <mat-icon matPrefix>password</mat-icon>
        <input
          matInput
          type="{{ hideNewConfirmPwd ? 'password' : 'text' }}"
          id="confirmNewPassword"
          name="confirmNewPassword"
          #confirmNewPassword="ngModel"
          [(ngModel)]="changePasswordForm.confirmNewPassword"
          (ngModelChange)="validatePasswords()"
          required
        />
        <mat-icon
          matSuffix
          (click)="hideNewConfirmPwd = !hideNewConfirmPwd"
          aria-label="Toggle password visibility"
          [attr.aria-pressed]="!hideNewConfirmPwd"
        >
          {{ hideNewConfirmPwd ? "visibility_off" : "visibility" }}
        </mat-icon>
        <!-- alert msgs -->
        <mat-error
          *ngIf="confirmNewPassword.touched && confirmNewPassword.pristine"
        >
          Ce champ est obligatoire
        </mat-error>
        <mat-hint *ngIf="confirmNewPassword.touched && !passwordsMatch">
          Nouveau Password et Confirmer Nouveau Password ne correspondent pas
        </mat-hint>
      </mat-form-field>

      <button
        mat-raised-button
        type="submit"
        color="primary"
        class="form-submit-btn"
        [disabled]="form.invalid || !passwordsMatch"
      >
        Modifier
      </button>

      <mat-progress-bar
        class="progress-bar"
        mode="indeterminate"
        *ngIf="isLoading"
      />
    </form>
  </mat-card-content>
</mat-card>
