<mat-card>
  <mat-card-header class="card-header-with-close-btn">
    <div mat-card-avatar></div>
    <mat-card-title>
      {{ isEditMode ? "Modifier" : "Ajouter" }} Nature Equipement
    </mat-card-title>
    <button
      mat-mini-fab
      class="action-btn close"
      routerLink="/natures-naturesEquipements"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="natureEquipementForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label> Label Nature Equipement</mat-label>
        <input
          matInput
          type="text"
          formControlName="labelNatureEquipement"
          required
        />
        <mat-error
          *ngIf="
                          natureEquipementForm.get('labelNatureEquipement')?.errors?.['required'] &&
                          natureEquipementForm.get('labelNatureEquipement')?.touched
                        "
        >
          Ce champ est obligatoire
        </mat-error>
        <mat-error
          *ngIf="
                          natureEquipementForm.get('labelNatureEquipement')?.errors?.['minlength'] &&
                          natureEquipementForm.get('labelNatureEquipement')?.dirty
                        "
        >
          Ce champ doit contenir au minimum
          {{
                          natureEquipementForm.get("labelNatureEquipement")?.errors?.['minlength']
                            ?.requiredLength
          }}
          caractères
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        type="submit"
        color="primary"
        class="form-submit-btn"
        [disabled]="natureEquipementForm.invalid || isLoading"
      >
        {{ isEditMode ? "Modifier" : "Ajouter" }}
      </button>
      <mat-progress-bar mode="determinate" *ngIf="isLoading" />
    </form>
  </mat-card-content>
</mat-card>
