<div class="form-container">
  <form #registrationForm="ngForm" (ngSubmit)="onSubmit(registrationForm)">
    <mat-card>
      <mat-card-content>
        <div class="registration-icon-container">
          <div>
            <mat-icon
              class="registration-icon"
              [class.registration-icon-valid]="registrationForm.valid"
              >person_add</mat-icon
            >
          </div>
        </div>

        <mat-form-field appearance="fill">
          <mat-label for="fullName">Full Name</mat-label>
          <mat-icon matPrefix>person</mat-icon>
          <input
            matInput
            type="text"
            id="fullName"
            name="fullName"
            #fullName="ngModel"
            [(ngModel)]="registration.nom"
            required
          />
          <mat-error *ngIf="fullName.touched && fullName.pristine">
            Required field
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label for="cin">Cin</mat-label>
          <!-- <mat-icon matPrefix>id_card</mat-icon> -->
          <!-- <mat-icon matPrefix>badge</mat-icon> -->
          <mat-icon matPrefix>pin</mat-icon>
          <!-- <mat-icon matPrefix>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M560-440h200v-80H560v80Zm0-120h200v-80H560v80ZM200-320h320v-22q0-45-44-71.5T360-440q-72 0-116 26.5T200-342v22Zm160-160q33 0 56.5-23.5T440-560q0-33-23.5-56.5T360-640q-33 0-56.5 23.5T280-560q0 33 23.5 56.5T360-480ZM160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm0-80h640v-480H160v480Zm0 0v-480 480Z"/></svg>
          </mat-icon> -->
          <input
            matInput
            type="text"
            id="cin"
            name="cin"
            #cin="ngModel"
            [(ngModel)]="registration.cin"
            required
            minlength="3"
          />

          <!-- alert msgs -->
          <mat-error *ngIf="cin.touched && cin.pristine">
            Required field
          </mat-error>
          <mat-hint *ngIf="cin.invalid && cin.dirty">
            Cin must contain at least
            {{ cin.errors?.['minlength']?.requiredLength }}
            characters
          </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label for="password">Password</mat-label>
          <!-- <mat-icon matPrefix>lock</mat-icon> -->
          <!-- <mat-icon matPrefix>key</mat-icon> -->
          <mat-icon matPrefix>password</mat-icon>
          <input
            matInput
            type="{{ hidePwd ? 'password' : 'text' }}"
            id="password"
            name="password"
            #password="ngModel"
            [(ngModel)]="registration.password"
            required
            minlength="3"
          />
          <mat-icon
            matSuffix
            (click)="hidePwd = !hidePwd"
            aria-label="Toggle password visibility"
            [attr.aria-pressed]="!hidePwd"
          >
            {{ hidePwd ? "visibility_off" : "visibility" }}
          </mat-icon>
          <!-- alert msgs -->
          <mat-error *ngIf="password.touched && password.pristine">
            Required field
          </mat-error>
          <mat-hint *ngIf="password.invalid && password.dirty">
            <!-- <mat-hint *ngIf="password.errors?.['minlength'] && password.touched"> -->
            Password must contain at least
            {{ password.errors?.['minlength']?.requiredLength }}
            characters
          </mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label for="confirmPassword">Confirm Password</mat-label>
          <mat-icon matPrefix>password</mat-icon>
          <input
            matInput
            type="{{ hideConfirmPwd ? 'password' : 'text' }}"
            id="confirmPassword"
            name="confirmPassword"
            #confirmPassword="ngModel"
            [(ngModel)]="registration.confirmPassword"
            required
            (ngModelChange)="validatePasswords()"
          />
          <mat-icon
            matSuffix
            (click)="hideConfirmPwd = !hideConfirmPwd"
            aria-label="Toggle password visibility"
            [attr.aria-pressed]="!hideConfirmPwd"
          >
            {{ hideConfirmPwd ? "visibility_off" : "visibility" }}
          </mat-icon>
          <!-- alert msgs -->
          <mat-error
            *ngIf="confirmPassword.touched && confirmPassword.pristine"
          >
            Required field
          </mat-error>
          <mat-hint *ngIf="confirmPassword.touched && !passwordsMatch">
            Passwords don't match
          </mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Role</mat-label>
          <mat-icon matPrefix>group</mat-icon>
          <mat-select
            name="role"
            #role="ngModel"
            [(ngModel)]="registration.nomRole"
            required
          >
            <!-- use 'async' pipe to subscribe to the roles observable in the template -->
            <mat-option
              *ngFor="let role of roles$ | async"
              [value]="role.nomRole"
              >{{ role.nomRole }}</mat-option
            >
          </mat-select>
          <!-- <input
            matInput
            type="text"
            name="role"
            #role="ngModel"
            [(ngModel)]="registration.role"
          /> -->
          <mat-error *ngIf="role.touched && role.pristine">
            Required field
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Filiale</mat-label>
          <mat-icon matPrefix>group</mat-icon>
          <mat-select
            name="filiale"
            #filiale="ngModel"
            [(ngModel)]="registration.nomFiliale"
            required
          >
            <mat-option
              *ngFor="let filiale of filiales$ | async"
              [value]="filiale.nomFiliale"
              >{{ filiale.nomFiliale }}</mat-option
            >
          </mat-select>
          <mat-error *ngIf="filiale.touched && filiale.pristine">
            Required field
          </mat-error>
        </mat-form-field>
        <button
          mat-raised-button
          type="submit"
          color="primary"
          class="fullwidth-btn"
          [disabled]="registrationForm.invalid || !passwordsMatch"
        >
          Registration
        </button>
      </mat-card-content>
    </mat-card>
  </form>
  <!-- {{ registrationForm.value | json }}  -->
  <!-- {{ registration | json }} -->

  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
</div>
