h2 {
  text-align: center;
}

div[mat-dialog-actions] {
  display: flex;
  justify-content: space-evenly;
}

button {
  &.cancel {
    &:hover {
      color: var(--white-color); //white
      background-color: var(--primary-color); //green
    }
  }

  &.delete {
    &:hover {
      color: var(--white-color);
      background-color: var(--warn-color); //red
    }
  }
}
