<app-add-edit-section>
  <router-outlet />
</app-add-edit-section>

<div class="table-container">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="sortData($event)"
    class="full-width-table"
  >
    <ng-container matColumnDef="nomDosageChimique">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Nom Dosage Chimique
      </th>
      <td mat-cell *matCellDef="let dosageChimique">
        {{ dosageChimique.nomDosageChimique }}
      </td>
    </ng-container>

    <ng-container matColumnDef="configurationPompe">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Configuration Pompe
      </th>
      <td mat-cell *matCellDef="let dosageChimique">
        {{ dosageChimique.configurationPompe }}
      </td>
    </ng-container>

    <ng-container matColumnDef="concentrationDosageChimique">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Concentration Dosage Chimique
      </th>
      <td mat-cell *matCellDef="let dosageChimique">
        {{ dosageChimique.concentrationDosageChimique }}
      </td>
    </ng-container>

    <ng-container matColumnDef="labelProduitChimique">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Produit Chimique
      </th>
      <td mat-cell *matCellDef="let dosageChimique">
        {{ dosageChimique.labelProduitChimique }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let dosageChimique">
        <div class="actions-btns-container">
          <button
            mat-fab
            class="action-btn edit"
            routerLink="edit/{{ dosageChimique.idDosageChimique }}"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-fab
            class="action-btn delete"
            (click)="openDialog(dosageChimique)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
