<mat-card>
  <mat-card-header class="card-header-with-close-btn">
    <div mat-card-avatar></div>
    <mat-card-title>
      {{ isEditMode ? "Modifier" : "Ajouter" }} Paramètre Station
    </mat-card-title>
    <button
      mat-mini-fab
      class="action-btn close"
      routerLink="/suivis-quotidiens"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="suiviQuotidienForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Label Suivi Quotidien</mat-label>
        <input
          matInput
          type="text"
          formControlName="labelSuiviQuotidien"
          required
        />
        <mat-error
          *ngIf="
                                    suiviQuotidienForm.get('labelSuiviQuotidien')?.errors?.['required'] &&
                                    suiviQuotidienForm.get('labelSuiviQuotidien')?.touched
                                  "
        >
          Ce champ est obligatoire
        </mat-error>
        <mat-error
          *ngIf="
                                    suiviQuotidienForm.get('labelSuiviQuotidien')?.errors?.['minlength'] &&
                                    suiviQuotidienForm.get('labelSuiviQuotidien')?.dirty
                                  "
        >
          Ce champ doit contenir au minimum
          {{
                                    suiviQuotidienForm.get("labelSuiviQuotidien")?.errors?.['minlength']
                                      ?.requiredLength
          }}
          caractères
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Date Suivi Quotidien</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="dateSuiviQuotidien"
          required
        />
        <mat-datepicker-toggle matIconSuffix [for]="picker" />
        <mat-datepicker #picker />
        <mat-error
          *ngIf="
                      suiviQuotidienForm.get('dateSuiviQuotidien')?.errors?.['required'] &&
                      suiviQuotidienForm.get('dateSuiviQuotidien')?.touched
                    "
        >
          Ce champ est obligatoire
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Valeur Suivi Quotidien</mat-label>
        <input
          matInput
          type="number"
          formControlName="valeurSuiviQuotidien"
          required
        />
        <mat-error
          *ngIf="
                                  suiviQuotidienForm.get('valeurSuiviQuotidien')?.errors?.['required'] &&
                                  suiviQuotidienForm.get('valeurSuiviQuotidien')?.touched
                                "
        >
          Ce champ est obligatoire
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Paramètre Suivi</mat-label>
        <mat-select formControlName="labelParametreStation" required>
          <mat-option
            *ngFor="let parametreStation of parametresStations$ | async"
            [value]="parametreStation.labelParametreStation"
          >
            {{ parametreStation.labelParametreStation }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
                              suiviQuotidienForm.get('labelParametreStation')?.errors?.['required'] &&
                              suiviQuotidienForm.get('labelParametreStation')?.touched
                            "
        >
          Ce champ est obligatoire
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        type="submit"
        color="primary"
        class="form-submit-btn"
        [disabled]="suiviQuotidienForm.invalid || isLoading"
      >
        {{ isEditMode ? "Modifier" : "Ajouter" }}
      </button>
      <mat-progress-bar mode="determinate" *ngIf="isLoading" />
    </form>
  </mat-card-content>
</mat-card>
