.container {
    width: auto;
    height: 100%;
  }
  
  .sidenav {
    // width: 200px;
    padding: 5px;
  }
  
  // .sidenav-content {
  //   display: flex;
  //   height: 100%;
  //   align-items: center;
  //   justify-content: center;
  // }
  
  ul {
    list-style-type: none; //remove bullets
  }
  
  .item {
    margin-bottom: 10px;
  }